In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('pokemon_data.csv')

In [3]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

# rename column name

In [4]:
df = df.rename(columns={'Type 2': 'Type_2', 'Type 1': 'Type_1'})

# Creating my own dataframe

In [5]:
data = {'day':[1,2,3,4,5,6], 'visitor':[1000,700, 1300, 4000, 300, 1500], 'bounce_rate':[20, 20, 30, 10, 23, 25]}
dx = pd.DataFrame(data)
dx.head(2)
dx.tail(2)

   day  visitor  bounce_rate
4    5      300           23
5    6     1500           25

In [6]:
# read headers
print(df.columns)

Index(['#', 'Name', 'Type_1', 'Type_2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [7]:
## read each column
#print(df['Name'])

## reading 3 column and first 5 data
#print(df[['Name', 'Type 1', 'Type 2']][0:5])

## reading each row
#print(df.iloc[0:4])

## reading a specific location (row, column)
#print(df.iloc[2,1])

In [8]:
                                          ## Sorting and Describing Data

In [9]:
## using to describe data 
#df.describe()

## sort the values
#df.sort_values('Name') #ascending order
#df.sort_values('Name' , ascending = False) #decensending order
#df.sort_values(['Type 1', 'HP'], ascending = [1,0]) #decensending order

In [10]:
df.iloc[520:521] # caling 520 number column

,#,Name,Type_1,Type_2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False

In [11]:
                                            ## Changing the data

In [12]:
## adding extra column 'total'
df['total'] = df['HP'] + df['Attack'] + df['Defense']
df.head(4)

,#,Name,Type_1,Type_2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,143
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,185
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,245
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,303

In [13]:
## adding column at any place
#df.insert(5,'owner','rakib')
#df

In [14]:
                                     ## Saving my updated data
#df.to_csv('new_add_column.csv', index = False) # no index
#df.to_excel('new_file.xlcx') #saving excel format data

In [15]:
## delating a column
df = df.drop(columns=['total'])
df = df.drop(columns=['owner'])
df.head(4)

KeyError: "['owner'] not found in axis"

In [16]:
## delating a column by index
#df = df.drop(labels=[2], axis=0)
#df

In [17]:
                                        ##Filtering Data

In [18]:
## searching all "Type 1" Grass data
df.loc[df['Type_1'] == "Grass"]

,#,Name,Type_1,Type_2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [19]:
## searching data 
df.loc[df["HP"] > 150]

,#,Name,Type_1,Type_2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
155,143,Snorlax,Normal,NaN,160,110,65,65,110,30,1,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False

In [20]:
## searching data
df.loc[(df['Type_1'] == "Grass") & (df['Type_2'] == 'Poison') & (df['HP'] > 45)]

,#,Name,Type_1,Type_2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
344,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False
651,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False

In [21]:
                             ## saving new data and changing index

In [22]:
new_data = df.loc[df['HP'] > 150]
new_data

,#,Name,Type_1,Type_2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
155,143,Snorlax,Normal,NaN,160,110,65,65,110,30,1,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False

In [23]:
## setting new data index
new_data =new_data.reset_index(drop=True)
new_data

,#,Name,Type_1,Type_2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
1,143,Snorlax,Normal,NaN,160,110,65,65,110,30,1,False
2,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
3,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
4,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
5,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False

In [24]:
## saving new data
new_data.to_csv('new_data.csv')

In [25]:
df.head(6)

,#,Name,Type_1,Type_2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False

In [26]:
## searching by using sort string 
#df.loc[df['Name'].str.contains('Mega')] # name data that contains Mega word
df.loc[~df['Name'].str.contains('Mega')] # name data that not contains Mega word

,#,Name,Type_1,Type_2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [27]:
import re
df.loc[df['Type_1'].str.contains('grass|fire', flags=re.I, regex=True)] ## ignoring letter case by using 'flag=re.I'

,#,Name,Type_1,Type_2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [28]:
## searching by using only first two letter
df.loc[df["Name"].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

,#,Name,Type_1,Type_2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False

In [29]:
## searching by using only two letter
df.loc[df["Name"].str.contains('pi[a-z]*', flags=re.I, regex=True)]

,#,Name,Type_1,Type_2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
181,167,Spinarak,Bug,Poison,40,60,40,40,40,30,2,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False
189,175,Togepi,Fairy,NaN,35,20,65,40,65,20,2,False
202,187,Hoppip,Grass,Flying,35,35,40,35,55,50,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False
266,247,Pupitar,Rock,Ground,70,84,70,65,70,51,2,False
345,316,Gulpin,Poison,NaN,70,43,53,43,53,40,3,False
357,326,Grumpig,Psychic,NaN,80,45,65,90,110,80,3,False
358,327,Spinda,Normal,NaN,60,60,60,60,60,60,3,False
359,328,Trapinch,Ground,NaN,45,100,45,45,45,10,3,False
390,357,Tropius,Grass,Flying,99,68,83,72,87,51,3,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False
463,416,Vespiquen,Bug,Flying,70,80,102,80,102,40,4,False
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False
490,442,Spiritomb,Ghost,Dark,50,92,108,92,108,35,4,False
501,451,Skorupi,Poison,Bug,40,50,90,30,55,65,4,False
502,452,Drapion,Poison,Dark,70,90,110,60,75,95,4,False
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False
596,536,Palpitoad,Water,Ground,75,65,55,65,55,69,5,False
716,648,MeloettaPirouette Forme,Normal,Fighting,100,128,90,77,77,128,5,False
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False

In [30]:
                                   ## data value changes

In [31]:
df.loc[df['Type_1'] == "Fire", 'Type_1'] = 'Flamer' #change fire to flamer
df

,#,Name,Type_1,Type_2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Flamer,Water,80,110,120,130,90,70,6,True

In [42]:
df.loc[df['Type_1'] == "Flamer", 'Type_1'] = 'Fier' #change flamer to fire
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fier,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fier,Water,80,110,120,130,90,70,6,True

In [43]:
## if hp > 60 then generation value will be 5
df.loc[df["HP"] > 60, ['Generation']] = '5'
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,5,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,5,False
4,4,Charmander,Fier,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,5,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,5,True
799,721,Volcanion,Fier,Water,80,110,120,130,90,70,5,True

In [44]:
                                         ## stateistics

In [45]:
## creating mean value of all data 
df.groupby(df["Type_1"]).mean().sort_values('Defense', ascending = False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
Type 1,,,,,,,,
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,0.148148
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,0.090909
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,0.375000
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,0.125000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,0.062500
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,0.035714
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,0.083333
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,0.042857
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,0.000000
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,0.064516
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,0.000000
Fier,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,0.096154
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,0.245614
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,0.090909
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,0.500000
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,0.000000
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,0.058824
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,0.020408

In [73]:
## creating sum value of all data 
df.groupby(df["Type_1"]).sum()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type_1,,,,,,,,,
Bug,23080,3925,4897,4880,3717,4471,4256,222,0
Dark,14302,2071,2740,2177,2314,2155,2361,125,2
Dragon,15180,2666,3588,2764,3099,2843,2657,124,12
Electric,15994,2631,3040,2917,3961,3243,3718,144,4
Fairy,7642,1260,1046,1117,1335,1440,826,70,1
Fier,17025,3635,4408,3524,4627,3755,3871,167,5
Fighting,9824,1886,2613,1780,1434,1747,1784,91,0
Flying,2711,283,315,265,377,290,410,22,2
Ghost,15568,2062,2361,2598,2539,2447,2059,134,2
Grass,24141,4709,5125,4956,5425,4930,4335,235,3
Ground,11401,2361,3064,2715,1807,2008,2045,101,4
Ice,10165,1728,1746,1714,1861,1831,1523,85,2
Normal,31279,7573,7200,5865,5470,6245,7012,299,2
Poison,7050,1883,2091,1927,1692,1803,1780,71,0
Psychic,21706,4026,4073,3858,5609,4918,4645,193,14
Rock,17280,2876,4086,4435,2787,3321,2460,152,4
Steel,11957,1761,2503,3412,1823,2177,1492,104,4
Water,33946,8071,8305,8170,8379,7898,7388,320,4

In [72]:
## creating count value of all data 
df.groupby(df["Type_1"]).count()

,#,Name,Type_2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,owner
Type_1,,,,,,,,,,,,
Bug,69,69,69,69,69,69,69,69,69,69,69,69
Dark,31,31,31,31,31,31,31,31,31,31,31,31
Dragon,32,32,32,32,32,32,32,32,32,32,32,32
Electric,44,44,44,44,44,44,44,44,44,44,44,44
Fairy,17,17,17,17,17,17,17,17,17,17,17,17
Fier,52,52,52,52,52,52,52,52,52,52,52,52
Fighting,27,27,27,27,27,27,27,27,27,27,27,27
Flying,4,4,4,4,4,4,4,4,4,4,4,4
Ghost,32,32,32,32,32,32,32,32,32,32,32,32
Grass,70,70,70,70,70,70,70,70,70,70,70,70
Ground,32,32,32,32,32,32,32,32,32,32,32,32
Ice,24,24,24,24,24,24,24,24,24,24,24,24
Normal,98,98,98,98,98,98,98,98,98,98,98,98
Poison,28,28,28,28,28,28,28,28,28,28,28,28
Psychic,57,57,57,57,57,57,57,57,57,57,57,57
Rock,44,44,44,44,44,44,44,44,44,44,44,44
Steel,27,27,27,27,27,27,27,27,27,27,27,27
Water,112,112,112,112,112,112,112,112,112,112,112,112

In [70]:
df['owner'] = 'abdur'
df.head(5)

,#,Name,Type_1,Type_2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,owner
0,1,Bulbasaur,Grass,poison,45,49,49,65,65,45,1,False,abdur
1,2,Ivysaur,Grass,poison,60,62,63,80,80,60,1,False,abdur
2,3,Venusaur,Grass,poison,80,82,83,100,100,80,1,False,abdur
3,3,VenusaurMega Venusaur,Grass,poison,80,100,123,122,120,80,1,False,abdur
4,4,Charmander,Fier,poison,39,52,43,60,50,65,1,False,abdur

In [49]:
a = [1,2,3]
b = pd.Series(a)
print(b)

0    1
1    2
2    3
dtype: int64

# Deleting column and restore it

In [50]:
cols = df.columns
a = df.pop('Type 1')
a

0        Grass
1        Grass
2        Grass
3        Grass
4         Fier
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fier
Name: Type 1, Length: 800, dtype: object

In [67]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,owner
0,1,Bulbasaur,Grass,NaN,45,49,49,65,65,45,1,False,NaN
1,2,Ivysaur,Grass,NaN,60,62,63,80,80,60,1,False,NaN
2,3,Venusaur,Grass,NaN,80,82,83,100,100,80,1,False,NaN
3,3,VenusaurMega Venusaur,Grass,NaN,80,100,123,122,120,80,1,False,NaN
4,4,Charmander,Fier,NaN,39,52,43,60,50,65,1,False,NaN

In [66]:
df = df.join(a).reindex(columns = cols) ## this will join the data in last column
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,owner
0,1,Bulbasaur,Grass,NaN,45,49,49,65,65,45,1,False,NaN
1,2,Ivysaur,Grass,NaN,60,62,63,80,80,60,1,False,NaN
2,3,Venusaur,Grass,NaN,80,82,83,100,100,80,1,False,NaN
3,3,VenusaurMega Venusaur,Grass,NaN,80,100,123,122,120,80,1,False,NaN
4,4,Charmander,Fier,NaN,39,52,43,60,50,65,1,False,NaN

# adding Nan value of data

# # rename column name

In [69]:
df = df.rename(columns={'Type 2': 'Type_2', 'Type 1': 'Type_1'})
df.Type_2 = df.Type_2.fillna("poison")
df.head(5)

,#,Name,Type_1,Type_2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,owner
0,1,Bulbasaur,Grass,poison,45,49,49,65,65,45,1,False,abdur
1,2,Ivysaur,Grass,poison,60,62,63,80,80,60,1,False,abdur
2,3,Venusaur,Grass,poison,80,82,83,100,100,80,1,False,abdur
3,3,VenusaurMega Venusaur,Grass,poison,80,100,123,122,120,80,1,False,abdur
4,4,Charmander,Fier,poison,39,52,43,60,50,65,1,False,abdur

# dublicates

In [ ]:
## z = z.drop_duplicates(subset=None, keep='first', inplace=False)

# for print all row and columns

In [ ]:
with pd.option_context('display.max_rows', 5, 'display.max_columns', None):
    print(df)